<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Focustron3000</title>
    <meta charset="UTF-8">

    <link href="styles.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify@1.0.3/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://unpkg.com/vuetify@1.0.3/dist/vuetify.js"></script>

    <script src="https://unpkg.com/moment@2.20.1/min/moment.min.js"></script>
    <script src="https://unpkg.com/papaparse@4.3.7/papaparse.min.js"></script>

    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91188723-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-91188723-2');
    </script>
  </head>
  <body>
    <template id="home">
      <div>
        <p class="name">Focustron3000</p>

        <p class="description">
          Set countdown and focus while it's running.<br />
          Get motivated by the top motivational quotes in the game.<br />
          <br />
          Go ape s**t on your productivity!
        </p>

        <div class="countdown-setup">
          <v-layout row align-center justify-center wrap>
            <v-flex xs11 sm5>
              <v-menu
                lazy
                :close-on-content-click="false"
                v-model="menuDatepicker"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  label="Date"
                  v-model="date"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="date" no-title scrollable actions>
                  <template slot-scope="{ save, cancel }">
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                      <v-btn flat color="primary" @click="save">OK</v-btn>
                    </v-card-actions>
                  </template>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>

          <v-layout row align-center justify-center wrap>
            <v-flex xs11 sm5>
              <v-menu
                lazy
                :close-on-content-click="false"
                v-model="menuTimepicker"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  label="Time"
                  v-model="time"
                  prepend-icon="access_time"
                  readonly
                ></v-text-field>
                <v-time-picker v-model="time" format="24hr"></v-time-picker>
              </v-menu>
            </v-flex>
          </v-layout>

          <v-layout row align-center justify-center wrap class="countdown-start-btn">
            <v-btn color="primary" v-bind:href="timerLink">focus</v-btn>
          </v-layout>
        </div>
      </div>
    </template>

    <template id="countdown">
      <div>
        <div v-if="secondsLeft > 0">
          <p class="main-text">{{ timeLeftString }}</p>
        </div>
        <div v-else>
          <p class="main-text">It's finished</p>
          <v-layout row align-center justify-center class="go-back-container">
            <v-btn color="primary" @click="goBack">go back</v-btn>
          </v-layout>
        </div>
        <div v-if="currentQuote">
          <p class="quote-body">{{ currentQuote[1] }}</p>
          <p v-if="currentQuote[0]" class="quote-author">- {{ currentQuote[0] }}</p>
        </div>
      </div>
    </template>

    <div id="app">
      <v-app>
        <v-content>
          <v-container>
            <div v-if="to">
              <countdown></countdown>
            </div>
            <div v-else>
              <home></home>
            </div>
          </v-container>
        </v-content>
        <v-footer class="transparent" height="128">
          <v-layout justify-center>
              <span class="text-center star-text">
                If you like it, then you should put a star on it
              </span>
              <a
                class="github-button"
                href="https://github.com/JakubPetriska/focustron3000"
                data-icon="octicon-star"
                data-size="large"
                aria-label="Star JakubPetriska/focustron3000 on GitHub">
                Star
              </a>
          </v-layout>
        </v-footer>
      </v-app>
    </div>

    <script src="index.js"></script>
  </body>
</html>
