<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Focustron3000</title>
    <meta charset="UTF-8">

    <link href="styles.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="libs/papaparse.min.js"></script>
  </head>
  <body>
    <template id="home">
      <div>
        <p class="name">Focustron3000</p>

        <p class="description">
          Set countdown and focus while it's running.<br />
          Get motivated by the top motivational quotes in the game.<br />
          <br />
          Go ape s**t on your productivity!
        </p>

        <div class="countdown-setup">
          <v-layout row align-center justify-center wrap>
            <v-flex xs11 sm5>
              <v-menu
                lazy
                :close-on-content-click="false"
                v-model="menuDatepicker"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  label="Date"
                  v-model="date"
                  prepend-icon="event"
                  readonly
                ></v-text-field>
                <v-date-picker v-model="date" no-title scrollable actions>
                  <template slot-scope="{ save, cancel }">
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn flat color="primary" @click="cancel">Cancel</v-btn>
                      <v-btn flat color="primary" @click="save">OK</v-btn>
                    </v-card-actions>
                  </template>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>

          <v-layout row align-center justify-center wrap>
            <v-flex xs11 sm5>
              <v-menu
                lazy
                :close-on-content-click="false"
                v-model="menuTimepicker"
                transition="scale-transition"
                offset-y
                full-width
                :nudge-right="40"
                max-width="290px"
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  label="Time"
                  v-model="time"
                  prepend-icon="access_time"
                  readonly
                ></v-text-field>
                <v-time-picker v-model="time" format="24hr"></v-time-picker>
              </v-menu>
            </v-flex>
          </v-layout>

          <v-layout row align-center justify-center wrap class="countdown-start-btn">
            <v-btn color="primary" @click="startCountdown">focus</v-btn>
          </v-layout>
        </div>
      </div>
    </template>

    <template id="countdown">
      <div>
        <div v-if="secondsLeft > 0">
          <p class="main-text">{{ timeLeftString }}</p>
        </div>
        <div v-else>
          <p class="main-text">It's finished</p>
          <v-layout row align-center justify-center class="go-back-container">
            <v-btn color="primary" @click="goBack">go back</v-btn>
          </v-layout>
        </div>
        <div v-if="currentQuote">
          <p class="quote-body">{{ currentQuote[1] }}</p>
          <p v-if="currentQuote[0]" class="quote-author">- {{ currentQuote[0] }}</p>
        </div>
      </div>
    </template>

    <div id="app">
      <v-app>
        <v-container>
          <div v-if="to">
            <countdown></countdown>
          </div>
          <div v-else>
            <home></home>
          </div>
        </v-container>
      </v-app>
    </div>

    <script src="index.js"></script>
  </body>
</html>
