.name {
  font-size: 48pt;
  font-weight: 300;
  text-align: center;
}

.description {
  font-size: 12pt;
  font-weight: 300;
  text-align: center;
  margin-top: 1cm;
}

.countdown-setup {
  margin-top: 2cm;
}

.countdown-start-btn {
  margin-top: 1cm;
}

.main-text {
  font-size: 98pt;
  font-weight: 300;
  text-align: center;
  margin-top: 2cm;
}

.go-back-container {
  margin-top: 1cm;
}

.quote-body {
  text-align: center;
  margin-top: 2cm;
  font-size: 18pt;
  font-weight: 300;
}

.quote-author {
  text-align: center;
  font-size: 18pt;
  font-weight: 300;
}

.star-text {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
  font-size: 12pt;
  font-weight: 300;
}
