.page-header {
  font-size: 48pt;
  font-weight: 300;
}

.page-header-small {
  font-size: 45px;
  font-weight: 300;
}

.quote {
  font-size: 18pt;
  font-weight: 300;
}

.star-text {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
}
